img{
    width: 100%;
}

.profile-pic-container{
    width: 200px;
    height: 200px;
}

.profile-pic-container img{
    height: auto;
}

/* Styling footer*/
.page-footer a[href="#info"]{
    float: right;
    margin-right: 2%;
}

.page-footer a[href="#homepage"]{
    float: left;
    margin-left: 2%;
}

/**/
.ui-icon-start:after{
    background-image: url("../images/ic_start.jpg");
    background-size: cover;
}

a[href="#page-01"]{
    width: 15%;
    margin: 0 40%;
}
