img{
    width: 100%;
}

.profile-pic-container{
    width: 200px;
    height: 200px;
}

.profile-pic-container img{
    height: auto;
}

/***    Custom Start Button ***/
/* Set icon for the button*/
.ui-icon-start:after{
    background-image: url("../images/ic_start.jpg");
    background-size: cover;
}
/* set width & height of the button*/
#homepage a[href="#page-01"]{
    width: 15%;
    margin: 1% 40%;
}


/***    Page tutorial grid  ***/
div[id^="page-"] .ui-block-a,
div[id^="page-"] .ui-block-c{
    width: 10%;
}
div[id^="page-"] .ui-block-b{
    width: 60%;
    margin: 0 10%;

}
