#tutorial-banner{
    width: 100%;
}

.profile-pic-container{
    width: 200px;
    height: 200px;
}

.profile-pic-container img{
    width: 100%;
    height: auto;
}

/* Styling footer*/
.page-footer a[href="#about"]{
    float: right;
    margin-right: 2%;
}

.page-footer a[href="#homepage"]{
    float: left;
    margin-left: 2%;
}
